body{

background-color: blue;
color: black;

}



p {
  text-decoration: line-through;
   column-fill: auto;
   border: 2px solid powderblue;
   padding:50px;
   margin: 50px;
}
.container
{
  background: Blue;
  border-top: 0px;
  margin: auto;
  color: #ff0000;

}
